../Project Code/AppleProject/AppleProject.pro.user
..\Project Code\AppleProject\AppleProject.pro.user
Project Code/AppleProject/*.o
Project Code/AppleProject/moc_*
Project Code/build*
Project\ Code/build*
*~
.DS_Store
.*
!/.gitignore
*.db
