@charset "UTF-8";
/* CSS Document */

#wrapper{
	width: 900px;
	margin-left:auto;
	margin-right:auto;
}

#header {
	height: 200px;
	width: 900px;
	background-color: #fff;
	text-decoration: none;
}

#menubar {
	width: 900px;
	background-color: #003777;
	font-size: 14px;
	margin: 0px;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
}

#menubar ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#menubar ul li a {
	line-height: 30px;
	background-color: #003777;
	height: 30px;
	width: 150px;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	padding-left: 0px;
	border-top-width: 1px;
	border-top-style: solid;
}

#menubar ul li a:hover {
	color: #FFF;
	background-color: #8EC3EB;
	border-top-width: 1px;
	border-top-color: #FFF;
	border-top-style: solid;
}

#menubar ul li {
	float: left;
	position: relative;
}

#menubar ul li ul {
	position: absolute;
	visibility: hidden;
	top: 31px;
}

#menubar ul li:hover ul {
	visibility: visible;
}

#content {
	background-color: rgba(255, 255, 255, 0.85);
	width: 890px;
	float: right;
	height: auto;
	padding-left: 10px;
	color: #000;
	font-family: Verdana, Geneva, sans-serif;
}

#sidebar {
	width: 250px;
	float: right;
	height: auto;
	text-align: center;
	margin: 25px;
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
}

#wrapper #sidebar p {
	color: #000;
	font-family: Verdana, Geneva, sans-serif;
}

#footer {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	background-color: rgba(255, 255, 255, 0.85);
	padding: 1px;
	text-decoration: none;
}
a:link {
	color: #003777;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #003777;
}
a:hover {
	text-decoration: underline;
	color: #8EC3EB;
}
a:active {
	text-decoration: none;
	font-size: 16px;
}
#wrapper #content p strong {
	font-size: 24px;
}
#wrapper #content img {
	margin-top: 10px;
}
img.center {
	display: block;
	margin: 0 auto;
} 
