@charset "UTF-8";
body {
	background-image: none;
	background-repeat: no-repeat;
	text-align: left;
	background-color: #003777;
}
#header {
	height: 75px;
	width: 900px;
	background-color: #FFFFFF;
	text-decoration: none;
}
#header a {
	color: #FFFFFF;
}
#nav {
	width: 900px;
	background-color: #003777;
	color: #003777;
}
#content {
	width: 890px;
	background-color: #FFFFFF;
	float: left;
	height: auto;
	padding-right: 0px;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
#side {
	width: 250px;
	background-color: #FFFFFF;
	float: right;
	height: auto;
	padding-right: 5px;
	padding-left: 5px;
}

#side p {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
#bottomfooter {
	width: 900px;
}
#bottomfooter p {
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
#fix {
	width:900px;
	height: 5px;
	background-color: #FFFFFF;
}
